<!doctype html>
<html lang="en">

<head>
    <title>CamelCourier</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <!-- Vue 3: production version, optimized for size and speed -->
    <!-- <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js'></script> -->
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    
</head>
<body id="app">
    <div class="hero_area">
        <home-header :userdetail="userDetail" v-on:update-user="updateUser"></home-header>
        <section class="slider_section">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-7 ">
                    <div class="box">
                    <div class="detail-box">
                        <h4>
                        Welcome to
                        </h4>
                        <h1>
                        CAMELCOURIER
                        </h1>
                    </div>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                        <div class="carousel-item active">
        
                            <div class="img-box">
                            <img src="images/slider-img.png" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box">
                            <img src="images/slider-img.png" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box">
                            <img src="images/slider-img.png" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box">
                            <img src="images/slider-img.png" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box">
                            <img src="images/slider-img.png" alt="">
                            </div>
                        </div>
                        </div>
                    </div>
        
                    <div class="btn-box">
                        <a href="" class="btn-1">
                        Read More
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="slider_form">
                    <h4>
                        Get Instant Quotes
                    </h4>
                    <form action="" method="">
                        <label for="pickup">Pick Up Location</label>
                        <input v-model="pickupPostal" type="text" class="form-control" id="pickup" placeholder="Postcode">
                        <label for="dropoff">Drop Off Location</label>
                        <input v-model="dropoffPostal" type="text" class="form-control" id="dropoff" placeholder="Postcode">
                        <div class="btm_input">
                        <input v-model="weight" type="number" class="form-control" placeholder="Weight">
                        <button class="action-button">Quote & Book</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        
            </section>
    </div>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>